{% extends "base.html" %}{% block title %}Brand Analysis{% endblock %}{% block content %}
<script type="text/javascript" src="/static/javascript/Highcharts-3.0.10/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/javascript/Highcharts-3.0.10/js/highcharts.js"></script>
<script type="text/javascript" src="/static/javascript/Highcharts-3.0.10/js/highcharts-more.js"></script>
<script type="text/javascript" src="/static/javascript/gridstyle.js"></script>
<div class="content">
    <div class="post">
        <h2 class="title">商品总评论数走势</h2>
        <div id="container1" style="width:500px;height:85%">
			<script src="/static/javascript/sales_analysis.js">
			</script>
			<script>
				show({{sa.date_list}},{{sa.count_list}},'{{name}}')
           	</script>
		</div>
	</div>
    <hr>
    <div class="post">
        <h2 class="title">商品价格走势</h2>
        <div id="container2" style="width:500px;height:85%">
			<script src="/static/javascript/prices_analysis.js">
			</script>
			<script>
				show({{pa.date_list}},{{pa.max_list}},{{pa.min_list}},{{pa.avg_list}},'{{name}}')
           	</script>
		</div>
	</div>
</div>{% endblock %}