{% extends "base.html" %}{% block title %}Commodity Analysis{% endblock %}
{% block content %}
<script type="text/javascript" src="/static/javascript/Highcharts-3.0.10/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/javascript/Highcharts-3.0.10/js/highcharts.js"></script>
<div class="content">
    <div class="post">
        <h2 class="title">购买力人群分布</h2>
        <div id="container1" style="width:750px;height:400px">
			<script src="/static/javascript/purchase_distribution_analysis.js">
			</script>
			<script>
				show({{pda.count}},{{pda.range}})
           	</script>
		</div>
	</div>
    <hr>
    <div class="post">
        <h2 class="title">手机价格分布</h2>
        <div id="container2" style="width:750px;height:400px">
			<script src="/static/javascript/price_distribution_analysis.js">
			</script>
			<script>
				show({{prda.count}},{{prda.range}})
           	</script>
		</div>
	</div>
</div>
{% endblock %}