<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CSS3 animations - Demo 2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/demo_styles.css">
        <link rel="stylesheet" href="../static/css/demo2.css">

        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script>
        function delayURL(url, time) { 
			setTimeout("top.location.href='" + url + "'", time); 
		}
		</script> 
    </head>
    <body class="dm-demo2">

        <!-- Demo Navigation -->
        <nav class="nav clearfix">
            <button class="nav-el" id="el-topleft" onClick="delayURL('/commodity_list/',2000)"><span class="icon-bulb"></span></button>
            <button class="nav-el" id="el-topright" onClick="delayURL('/brand_list/',2000)"><span class="icon-mail"></span></button>
            <button class="nav-el" id="el-btmleft" onClick="delayURL('/catagory/',2000)"><span class="icon-data"></span></button>
            <button class="nav-el" id="el-btmright" onClick="delayURL('test01.html',2000)"><span class="icon-phone"></span></button>
        </nav>
       
        <script src="/static/javascript/jquery-1.10.2.min.js"></script>
        <script src="/static/javascript/plugins.js"></script>
        <script src="/static/javascript/demo.js"></script>
        
    </body>
</html>
