.frame {
width: 220px;
margin-right: 20px;
height: 310px;
position: relative;
float: left;
padding: 0;
margin: 0;
margin-bottom: 20px;
line-height: 1.5;
overflow: visible;
z-index: 1;
}
.prod {
min-height: 98%;
width: 190px;
position: absolute;
background-color: #fff;
margin: 0;
padding: 4px;
padding-bottom: 0;
border: 1px solid #f5f5f5;
border-radius: 3px;
}
.prodImg {
display: table;
table-layout: fixed;
height: 210px;
width: 100%;
padding: 0;
margin: 0;
margin-bottom: 5px;
}
.prodImg img {
display: block;
margin: 0 auto;
max-width: 100%;
max-height: 210px;
}
.prodASIN {
display: block;
color: #000;
height: 18px;
margin-bottom: 3px;
word-break: break-all;
font-size: 13px;
position: relative;
}
.prodTitle {
display: block;
color: #0082B0;
font-weight:bold;
height: 45px;
margin-bottom: 3px;
word-break: break-all;
font-size: 16px;
position: relative;
overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */ 
text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/ 
}
#list {
	width: 1140px;
	height: 680px;
	padding: 4px;
}